.country {
  padding: 1.7rem 2.2rem;
  height: 38rem;
  border: $border;
  border-radius: 1rem;
  font-size: 1.2rem;
  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &__country-name {
    text-align: center;
    color: $color-grey-1;
    padding-top: 0.6rem;
    padding-bottom: 1.6rem;
    border-bottom: $border;
  }

  &__statistic {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      padding-bottom: 1rem;
      border-bottom: $border;
    }
  }

  &__number {
    font-size: 1.7rem;
    font-weight: 500;
    color: $color-grey-1;
  }
}
